.app {
    display: flex;
    justify-content: center;
}

.app__title {
    display: flex;
    padding: 10px;
    border: solid 5px #1890ff;

    font-weight: 500;
}

.wrapper {
    margin-top: 50px;
}

.mb-10 {
    margin-bottom: 10px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}